@charset "UTF-8";
/* CSS Document */

body
{
	color: #000;
	font: 14px/22px Georgia, serif;
	padding-top: 20px;
	background: #f4f4f6 url(../img/johncage_bg.jpg) no-repeat top center fixed;
}


body.about
{
	background: #f4f4f6 url(../img/about_bg.jpg) repeat top fixed;
}

body.index_new
{
	color: #000;
	font: 14px/22px Georgia, serif;
	padding-top: 20px;
	background: #f4f4f6 url(../img/cage_birthday.jpg) no-repeat top left fixed;
}

body.sonatas_and_interludes { background: #000 !important; }

body.sonatas_and_interludes #nav li a { color: #444444; }

body.prepared_piano { background: #fff url(../img/prepared_piano.jpg) no-repeat top left fixed; }

body.prepared_piano_essay { background: #000 url(../img/prepared_piano_essay.jpg) no-repeat top left fixed; }

body.prepared_piano_essay #nav li a { color: #999; }

body.prepared_piano_essay #nav .selected { color: #fff; }

body.autobio
{
	background: #f4f4f6 url(../img/autobio_bg.jpg) repeat top fixed;
}

body.empty_words { background: #00FF00;}

body.empty_words #content { font: 16px/25px Georgia, serif; }

body.empty_words #content a { color: #000; text-decoration: none; border-bottom: 1px solid #00FF00; }

body.empty_words #content a:hover { color: #000; text-decoration: none; background: #00FF00; }

body.empty_words .table_a td { border-bottom: 1px solid #00FF00; height: 40px; vertical-align: middle; }

.accent_gray { color: #808080; }

.accent_green { color: #00FF00; }

.accent_green_darker { color: #00CC00; }

body.empty_words .header { color: #fff; background: #000; height: 40px; vertical-align: middle; font-weight: bold; padding-left: 10px; }

body.empty_words .green_box { background: #00FF00; padding: 20px; }

a
{
	color: #888;
	text-decoration: none;
}

a:hover
{	
	color: #000;
	background: #fff4b7;
}


.external:hover {
	background: #fff4b7 url(../img/external-link.png) right center no-repeat;
	padding-right: 13px;
}

hr {
	margin: 30px 0 30px 0;
}

blockquote {
	padding-left: 100px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Georgia, serif;
	font-weight: normal;
}

.date {
	font-size: 13px;
	line-height: 30px;
	text-transform: uppercase;
	color: #999;
}

p
{
	overflow: hidden;
	text-align: left;
}

#shell {
	min-height:100%;
	position:relative;
}

#content_latest_news p
{
	margin-top: 30px;
	overflow: hidden;
	text-align: left;
}

#content_latest_news h1
{
	margin: 0;
}

#nav ul {
	padding: 0px;
	margin: 0px;
}

#nav li {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 240px;
	list-style-type:none;
}

#nav li a {
	color: #999;
	text-decoration: none;
}

.selected {
	color: #000;
	font-style: italic;
	background: transparent !important;
}

.new { font-family:Arial, Helvetica, sans-serif; font-weight: bold; color:#ffc100; font-size: 11px; text-transform: uppercase;}

.container_12
{
	margin-bottom: 20px;
}

.grid_8 {
	background: #fff;
}

#column {
	background: #fff;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 15px;
}

#content, #content_latest_news {
	margin-left: 20px;
	margin-right: 20px;
}

#share {
	position: fixed;
	top: 20px;
	left: 10px;
	color: #ccc;
}

#share a {
	color: #bbb;
	text-decoration: none;
}

#share a:hover {
	color: #000;
	text-decoration: none;
}

::selection {
	background: #fff4b7; /* Safari */
	}
::-moz-selection {
	background: #fff4b7; /* Firefox */
}

#footer {
	background-color: rgba(244,244,246,.5);
	width: 100%;
	height: 30px;
	padding-top: 10px;
	bottom: 0;
	position: fixed;
	text-align: left;
}

#footer:hover {
	background-color: rgba(244,244,246,.8)
}

#footer a {
	color: #000;
}

/* AddThis Vertical Hover Menu */


.addthis_toolbox .custom_hover {
    position: relative;
}

.addthis_toolbox .custom_hover .custom_button {
    padding: 6px 12px 6px 12px;
    color: #000;
    cursor: pointer;
    -moz-border-radius: 5px 5px 0 0;    
    -webkit-border-radius: 5px 5px 0 0;
}

.addthis_toolbox .custom_hover .custom_button.active {
    background-color: #eee;
}

.addthis_toolbox .hover_menu  {
	font-size: 14px;
    display: none;
    position: absolute;
    background: #fff;
}

.addthis_toolbox .custom_hover .tower {
    -webkit-border-radius: 0 5px 0 0;   
    -moz-border-radius-topleft: 0;
    
}
.addthis_toolbox .hover_menu  {
	text-align: left;
    width: 136px;
    padding: 5px;
    border: 3px solid #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.addthis_toolbox .hover_menu a {    
    position: relative;
    display: block;
    width: 102px;
    padding: 4px 0 4px 34px;
    text-decoration: none;
    color: #333;
}

.addthis_toolbox .hover_menu a:hover {    
    background: #fff4b7;
    color: #000;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.addthis_toolbox .hover_menu span {
    position: absolute;
    left: 14px;
    top: 4px;
}

.addthis_toolbox .hover_menu .more {
    border-top: solid 1px #eee;
    padding: 5px 0 0 10px;
    margin: 10px 10px 0 10px;
    text-align: left;
}

.addthis_toolbox .hover_menu .more a {
    padding: 4px 0;
    margin: 0;
}

.addthis_toolbox .hover_menu .more a:hover {
    background: none;
}
.addthis_toolbox .hover_menu .more span {
    display: none;
}

/* Blogger / Feedburner: Common BuzzBosst */

div.feedburnerFeedBlock ul {
	margin:0 0 0 -30px;
	padding:0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 20px;
	list-style-type: none

}

div.feedburnerFeedBlock ul p {
	margin: 0;
	padding: 0;

}

div.feedburnerFeedBlock ul ul {
	list-style-type: disc;
}

div.feedburnerFeedBlock ul ol {
	list-style-type: decimal;
}

div.feedburnerFeedBlock ul li {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

div.feedburnerFeedBlock ul li span.headline {
	font-size: 1.8em; 
	display: inline;
	margin: 0;
}

div.feedburnerFeedBlock ul li span.headline a {
	color: #000;
	background: transparent;
}

div.feedburnerFeedBlock ul li p.date {
	padding-bottom: 30px;
}

.app_button { width: 150px; height: 50px; padding: 10px; margin-bottom: 10px; color: #fff; background-color: #000; border-radius: 10px;}
.app_button:hover, .app_button:hover .new { background-color: #ffc100; color: #000; }
.app_button img { padding-right: 10px; }